<div class="row my-5">
  <div class="col-lg-2"></div>

  <div class="col-lg-8">
    <%= bootstrap_flash %>
    <h1 class="text-center">Edit Message</h1>

    <%= render "form" %>
  </div>

  <div class="col-lg-2"></div>
</div>
