<div class="row my-5">
  <div class="col-lg-2"></div>

  <div class="col-lg-8">
    <%= bootstrap_flash %>
    <h5 class="section-title h1">ADD NEW RECIPE</h5>

    <%= render "form" %>
  </div>

  <div class="col-lg-2"></div>
</div>
