<div class="row justify-content-center my-5">
  <div class="col-lg-10">
    <%= bootstrap_flash %>
    <h5 class="section-title h1">FAMILY TREE</h5>

    <% if @family_tree_photo %>
      <div id="family-tree" class="text-center">
        <% @family_tree_photo.images.each do |image| %>
          <%= image_tag(image, class: "img-fluid") %>
        <% end %>
      </div>
    <% else %>
      <p class="text-center">Family Tree photo has not been uploaded yet. Please contact your admin.</p>
    <% end %>
  </div>
</div>
